<div class='row'>
  <div class='span0 well center-text'>
    <%= link_to vote_post_comment_path(id: comment.id, post_id: comment.post_id, vote: true), method: 'post' do %>
    <i class='icon-arrow-up'></i>
    <% end %>
    <br>
    <%= comment.total_votes %>
    <br>
    <%= link_to vote_post_comment_path(id: comment.id, post_id: comment.post_id, vote: false), method: 'post' do %>
    <i class='icon-arrow-down'></i>
    <% end %>
  </div>
  <div class="span8 well">
    <div class='control-group'>
      <%= comment.body %>
      <% if local_assigns[:display_post_title] %>
      on <%= link_to Post.find(comment.post_id).title, post_path(Post.find(comment.post_id)) %>
      <% end %>
    </div>
    <div class='control-group'>
      <span class='quiet'> by <%=link_to comment.creator.username, comment.creator %> at <%= comment.created_at %> </span>
    </div>
  </div>
</div>
