<div class="span8 well">
  <%= render post.categories %>
  <br>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <p><%= post.description %></p>
  <p>
    <span class="quiet">posted by</span> <%= post.creator.username %>
    <small> at <%= display_dt(post.updated_at) %></small>
  </p>
  <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </small>
</div>
