<p class="pull-right">
  [<%= link_to 'edit post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<div class='well'>
  <p class="lead" ><%= link_to @post.title, fix_url(@post.url) %></p>

  <p>
    <small>
      <%= link_to "back to all posts", posts_path %>
    </small>
  </p>

  <p><strong><%= @post.description %></strong> </p>
</div>

<%= render 'layouts/error_messages', obj: @comment %>

<%= render @post.comments %>

<div class='well'>
  <%= form_for [@post, @comment] do |f| %>
  <div class='control-group'>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Post a comment", class: "btn btn-primary" %>
  <% end %>
</div>
